@model Moodwave5.Models.Main

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Main</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.songID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.songID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Wave.Mood)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Wave.Mood)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.userID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
